################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.gitignore
/.vs/coursework_data_base/v17/.wsuo
/.vs/slnx.sqlite
